extends layout
block content
    if(page)    
        div(class='container d-flex justify-content-center align-content-center mt-4')
            nav(aria-label='Page navigation example')
                ul.pagination
                    each item,index in page
                        li(class="page-item")
                            if(item.link) 
                               if(item.bo)
                                   a(class='page-link '+item.current href=item.link?"/phimbo?"+item.link:'#') #{item.count}
                               else
                                   a(class='page-link '+item.current href=item.link?"/phimle?"+item.link:'#') #{item.count}

        
    div(class="item-container" id="getMe")
        -var x=array
        for item in x
            a(class="wrapper" href=item.href  onclick=(`addSearch("`+item.href+`","`+item.title+`","`+item.image+`");`))
                div(class='img-ctn' style="background-image:url('"+("https://subnhanh.net"+item.image)+`')` onmouseover="mouseOver('"+item.image+"')")
                 //img(title=item.title src=("https://subnhanh.net"+item.image))
                p=item.title
    
    if(page)    
        div(class='container d-flex justify-content-center align-content-center mt-4')
            nav(aria-label='Page navigation example')
                ul.pagination
                    each item in page
                        li(class="page-item")
                            if(item.link) 
                               if(item.bo)
                                   a(class='page-link '+item.current href=item.link?"/phimbo?"+item.link:'#') #{ item.count}
                               else
                                   a(class='page-link '+item.current href=item.link?"/phimle?"+item.link:'#') #{ item.count}

        
                    

    script
        include ./dist/js/search.js

